.contenedor_bloque {
    height: 670px;
    width: 100%;
    background-color: white;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    text-align: center;
    //width: 100%;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.margintop0 {
    margin-top: 0px;
}

.top70 {
    top: 70px;
}

.top460 {
    top: 460px;
}

.topaudio {
    top: 480px;
}

.gris {
    color: #54595F;
}

.sombra {
    text-shadow: 4px 4px 4px #aaa;
}

.cursive {
    font-family: 'Kalam', cursive;
}

.fantasy {
    font-family: 'Permanent Marker', cursive;
}

audio {
    //filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    filter: sepia(80%) saturate(70%) contrast(99%) invert(12%);
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: #DB8FA3;
    color: #DB8FA3;
}

audio::-webkit-media-controls-play-button {}


@media only screen and (max-device-width: 281px) and (orientation: portrait) {

    .topaudio {
        top: 290px;
    }
}