<!-- Bloque 1 -->
<div class="contenedor_bloque" [style.background-image]="'url(' + coverBackground + ')'">
  <div>
    <!-- Encabezado invitación -->
    <ng-container *ngIf="invitationType !== 'babyshower'">
      <div class="center top70 bot70 sombra">
        <h2 class="gris margintop0 fantasy sombra" appTextTypewriter [delay]="100">{{coverTitle}}</h2>
      </div>
      <div class="center top70 bot20 sombra">
        <p class="darrel portada-nombres" appFadeInProgressive>{{person2.name}} y {{person1.name}}</p>
      </div>
    </ng-container>

    <!-- Encabezado texto invitación -->
    <ng-container *ngIf="invitationType === 'babyshower'">
      <div class="center bs-header">
        <h2 class="bs-title" appFadeInProgressive>BabyShower</h2>

         <div class="center cursive" appFadeInProgressive>
          <h3 class="seccionPortada_subtitulo2 gris">{{coverSubtitle}}</h3>
        </div>

        <p class="bs-name"  appFadeInProgressive>{{babyName}}</p>
       
      </div>
    </ng-container>

    <!--imagen-->
    <div class="bloque-portada-imagen">
      <div class="portada-foto">
        <img [src]="coverImage" alt="" appFadeInProgressive>
      </div>
    </div>

    
    <div class="center" appFadeInProgressive>
      <audio controls [src]="musicSrc" type="audio/mp3" autoplay>
        Your browser does not support the <code>audio</code> element.
      </audio>
    </div>
  </div>
</div>
