<!-- Bloque 1 -->
<div class="contenedor_bloque wallpaper-portada1">
  <div>
    <div class="center top70 sombra">
      <h2 class="gris margintop0 fantasy sombra">Ha dicho que sí, y hay boda</h2>
    </div>
    <div class="center top460 cursive">
      <h3 class="seccionPortada_subtitulo2 gris">Te invitamos a que nos acompañes a celebrar nuestro día</h3>
    </div>
    <div class="center topaudio">
      <audio controls src='assets/music/a-thousand-years.mp3' type="audio/mp3" controls autoplay>
        Your browser does not support the <code>audio</code> element.
      </audio>
    </div>
  </div>
</div>