<!-- Separador que recibe un valor del componente padre-->
<div class="fondo-small">
  <!-- Separador Simple: Frase -->
 
  <h2 *ngIf="isSeparadorSimple; else elseBlockSeparador2"  class="rosa fondo-small-text2">{{textoSeparador}}</h2>

  <!-- Separador Complejo: Frase + icono + SVG -->
  <ng-template #elseBlockSeparador2>
    <h2  class="rosa fondo-small-text1">Nuestros caminos se iniciaron a
      <a href="https://www.geodatos.net/distancias/de-chimbote-a-granada-andalucia" class="km" target="_blank">9311 km de
        distancia</a>,
      pero el destino nos tenía preparada esta historia tan bonita..
    </h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="svg-heart1"
      viewBox="0 0 16 16">
      <path
        d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
    </svg>
  
    <!-- 
       <div class="iframe-video">
      <iframe src="https://player.vimeo.com/video/894432598?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        width="100%" height="auto" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
        title="Sorpresa para boda de Grace &amp; Edu"></iframe>
    </div>
    -->
 
  </ng-template>
</div>