<div class="container_contacts">
  <ion-button class="container_contacts_button" (click)="gotoWhatsapp(person2.phone)">
    <ion-icon class="container_contacts_button_whatsapp" name="logo-whatsapp"></ion-icon>
    <ion-label class="container_contacts_button_data">
      <span>{{person2.name}}</span>
      <span>{{person2.phone}}</span>
    </ion-label>
  </ion-button>
  <ion-button class="container_contacts_button" (click)="gotoWhatsapp(person1.phone)">
    <ion-icon class="container_contacts_button_whatsapp" name="logo-whatsapp"></ion-icon>
    <ion-label class="container_contacts_button_data">
      <span>{{person1.name}}</span>
      <span>{{person1.phone}}</span>
    </ion-label>
  </ion-button>
</div>
