<ion-content [scrollEvents]="true" [fullscreen]="true">
  <div class="body">

    <ng-container *ngIf="invitationData as data">

      <!-- Boda: pantalla de bienvenida clásica -->
      <app-entrada-bienvenida
        *ngIf="data.type === 'boda'"
        [data]="data">
      </app-entrada-bienvenida>

      <!-- Babyshower: animación de sobre/carta -->
      <app-entrada-bienvenida-babyshower
        *ngIf="data.type === 'babyshower'"
        [data]="data">
      </app-entrada-bienvenida-babyshower>

    </ng-container>

  </div>
</ion-content>
