<div class="bloque_detalle_celebracion wallpaper-papel contenedor_bloque">
  <ng-container *ngFor="let event of timeline; let last = last">
    <div>
      <div class="icono bloque_image bot20" [class.first-icono]="!last" appFadeInProgressive>
        <img [src]="event.iconPath" width="400px" height="400px">
      </div>
      <div class="bloque_texto" appFadeInProgressive>
        <p style="text-align: center;">{{event.label}}<br><strong>{{event.time}}</strong></p>
      </div>
      <div class="linea_vertical" *ngIf="!last" appFadeInProgressive>
        <hr>
      </div>
    </div>
  </ng-container>
</div>
