
<div class="bloque_detalle_celebracion fondo-2 contenedor_bloque">
  <div>
    <div class="icono bloque_image bot20 first-icono">
      <img src="assets/images/iglesia/icono-iglesia-300x300.png" width="400px" height="400px">
    </div>

    <div class="bloque_texto" appFadeInProgressive>
      <p style="text-align: center;">Ceremonia religiosa<br><strong>12:00</strong></p>
    </div>

    <div class="linea_vertical" appFadeInProgressive>
      <hr>
    </div>
  </div>
  
  <div>
    <div class="icono bloque_image bot20" appFadeInProgressive>
      <img src="assets/images/copas/icono-copas-300x300.png" width="400px" height="400px">
    </div>

    <div class="bloque_texto" appFadeInProgressive>
      <p style="text-align: center;">Cóctel<br><strong>13:45</strong></p>
    </div>

    <div class="linea_vertical" appFadeInProgressive>
      <hr>
    </div>
  </div>

  <div>
    <div class="icono bloque_image bot20" appFadeInProgressive>
      <img src="assets/images/platos/icono-platos-300x300.png" width="400px" height="400px">
    </div>

    <div class="bloque_texto" appFadeInProgressive>
      <p style="text-align: center;">Banquete<br><strong>15:00</strong></p>
    </div>

    <div class="linea_vertical" appFadeInProgressive>
      <hr>
    </div>
  </div>

  <!-- <div>
    <div class="icono bloque_image bot20">
      <img src="assets/images/anillos/icono-anillos-300x300.png" width="400px" height="400px">
    </div>

    <div class="bloque_texto">
      <p style="text-align: center;">Baile novios<br><strong>22:00</strong></p>
    </div>

    <div class="linea_vertical">
      <hr>
    </div>
  </div> -->

  <div>
    <div class="icono bloque_image bot20" appFadeInProgressive>
      <img src="assets/images/musica/icono-musica-300x300.png" width="400px" height="400px">
    </div>

    <div class="bloque_texto" appFadeInProgressive>
      <p style="text-align: center;">A bailar<br><strong>17:00</strong></p>
    </div>

  </div>
</div>