<div class="separador fondo-1 bloqueAgradecimientos">
  <div>
    <div class="bloque-titulo">
      <h2 class="text-body-rosa" appTextTypewriter [delay]="100">Gracias por acompañarnos en este día tan especial para nosotros</h2>
    </div>
    <div class="icono bloque_image">
      <img src="assets/images/anillos/rings.gif" class="icono-img" width="400px" height="400px">
    </div>
    <div>
      
    
      <!-- Countdown: Fecha boda -->
      <app-countdown-fecha [targetDate]="'2025-02-01T00:00:00'"></app-countdown-fecha>
    
    
    </div>

  </div>
  
  
</div>