<div #page>
  <ion-header>
    <ion-toolbar>
      <ion-title>Completa el formulario</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button id="open-modal" expand="block">Open</ion-button>
    <ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" [presentingElement]="page">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <iframe height="300" width="100%" src="https://0m6nudbkm1s.typeform.com/to/cXutSBNV" frameborder="0" allow="fullscreen"></iframe>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</div>