<div class="global_wallpaper-portada2 contenedor_bloque">
  <div class="bloque_portada2">
    <div class="bloque-nombrepareja">
      <div><span class="darrel">{{novia.name}}</span></div>
      <div class="text-y"><span class="darrel"><p>y</p></span></div>
      <div><span class="darrel">{{novio.name}}</span></div>
    </div>
    <div class="bloque-imagencirculo">
      <img src="assets/images/circulo-portada.png" alt="boda">
    </div>
    <div class="bloque-fechaboda">
      <div class="center">
        <h2 class="seccionPortada_subtitulo fantasy gris">¡Nos casamos</h2>
      </div>
      <div class="center">
        <h2 class="seccionPortada_subtitulo fantasy gris">el</h2>
      </div>
      <div class="center">
        <h2 class="seccionPortada_subtitulo fantasy rosa">09 de diciembre de 2023!</h2>
      </div>
    </div>
  </div>
  
</div>
