<div class="global_wallpaper-portada2 contenedor_bloque">
  <div class="bloque_portada2">
    <div class="bloque-nombrepareja" appFadeInProgressive>
      <div><span class="darrel">{{person2.name}}</span></div>
      <div class="text-y"><span class="darrel"><p>y</p></span></div>
      <div><span class="darrel">{{person1.name}}</span></div>
    </div>
    <div class="bloque-imagencirculo">
      <img src="assets/images/fondos/circle-portada.png" alt="boda">
    </div>
    <div class="bloque-fechaboda">
      <div class="center">
        <h2 class="seccionPortada_subtitulo fantasy gris" appFadeInProgressive>¡Nos casamos</h2>
      </div>
      <div class="center">
        <h2 class="seccionPortada_subtitulo fantasy gris" appFadeInProgressive>el</h2>
      </div>
      <div class="center">
        <h2 class="seccionPortada_subtitulo fantasy rosa" appFadeInProgressive>{{weddingDateText}}</h2>
      </div>
    </div>
  </div>
</div>
