<div class="fondo-small">
  <h2 class="rosa fondo-small-text2">¡Nos encantaría contar contigo!. <br>Por favor, confirma tu asistencia.</h2>
  
  <!-- <div class="bloque-boton">
    <div class="rosa">
      <div class="bloque-boton_icono fondo-rosa">
        <a href="https://0m6nudbkm1s.typeform.com/to/cXutSBNV" target="_blank" class="btn">
          <span>
            Confirmar asistencia
          </span>
          <ion-icon name="open-outline" class="navigate"></ion-icon>
        </a>
      </div>
    </div>
  </div> -->

  <!-- <h3 class="rosa fondo-small-text2">Si lo preferís, podéis confirmarnos vía whatsapp</h3> -->
  <app-contact-bride-groom [novio]="pareja1" [novia]="pareja2"></app-contact-bride-groom>
</div>