/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* External */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Permanent+Marker&display=swap');

@font-face {
    font-family: 'DarrelAllura';
    src: url('assets/fuentes/DarrelAllura.ttf') format('truetype');

}



/* estilos globales de toda la aplicación*/

.fondo-1 {
    background-image: url('assets/images/wallpaper-flowers.jpeg');
}

.fondo-2 {
    background-image: url('assets/images/wallpaper-papel.jpeg');
}

.wallpaper-portada1 {
    background-image: url('assets/images/wallpaper-portada1.png');
}

.global_wallpaper-portada2 {
    background-image: url('assets/images/wallpaper-portada2.png');
}

.icono-animado {
    cursor: pointer;
    animation: resaltar 1.5s infinite; /* Animación continua */
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    to {
        transform: translateY(0) scale(1)
    }

    40% {
        transform: translateY(-20px) scale(1.2)
    }

    60% {
        transform: translateY(-15px) scale(1.3)
    }
}

@keyframes resaltar {
    0% {
        transform: scale(1);
        /* Tamaño normal */
        opacity: 1;
        /* Totalmente visible */
    }

    50% {
        transform: scale(1.2);
        /* Crece ligeramente */
        opacity: 0.8;
        /* Ligero desvanecimiento */
    }

    100% {
        transform: scale(1);
        /* Regresa al tamaño original */
        opacity: 1;
        /* Totalmente visible */
    }
}