/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CScope+One%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CMontserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CCharm%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CCormorant+Garamond%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CBodoni+Moda%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CSuwannaphum%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CWaterfall%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&display=auto&ver=6.3');

/* Custom Fonts CSS Manuscrita */
@font-face {
  font-family: 'Manuscrita';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url('https://invitaciondigital.felizia.es/wp-content/uploads/2023/01/Hey-Jenifer.ttf') format('truetype');
}

/* Custom Fonts CSS Tangerine */
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/tangerine/v17/IurY6Y5j_oScZZow4VOxCZZMprNA4A.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Custom Fonts CSS Darrel Allura */
@font-face {
    font-family: 'DarrelAllura';
    src: url('assets/fuentes/DarrelAllura.ttf') format('truetype');

}


.body {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 32px -14px rgba(64, 87, 109, .3);
}

.arrow-container {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  
    .arrow-down {
      animation: bounce 2s infinite;
      color: #000;
      font-size: 30px;
      fill:none;
      opacity: 0.8;
    }
  }

/* estilos globales de toda la aplicación*/

.fondo-1 {
    background-image: url('assets/images/wallpaper-flowers.jpeg');
}

.wallpaper-papel {
    background-image: url('assets/images/wallpaper-papel.jpeg');
}

.wallpaper-entrada-1 {
    background-image: url('assets/images/fondos/wallpaper-entrada1.png');
}

.wallpaper-portada1 {
    background-image: url('assets/images/wallpaper-portada1.png');
}

.global_wallpaper-portada2 {
    background-image: url('assets/images/wallpaper-portada2.png');
}

.wallpaper-brush-rose {
    background-image: url('/assets/images/fondos/nube-rose.png');
}

.icono-animado {
    cursor: pointer;
    animation: resaltar 1.5s infinite;
    /* Animación continua */
}

/* Estado inicial: oculto */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    /* Ligeramente desplazado hacia abajo */
    transition: opacity 2.8s ease, transform 2.8s ease;
    /* Transición suave */
}

/* Estado final: visible */
.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
    /* Posición normal */
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    to {
        transform: translateY(0) scale(1)
    }

    40% {
        transform: translateY(-20px) scale(1.2)
    }

    60% {
        transform: translateY(-15px) scale(1.3)
    }
}

@keyframes resaltar {
    0% {
        transform: scale(1);
        /* Tamaño normal */
        opacity: 1;
        /* Totalmente visible */
    }

    50% {
        transform: scale(1.2);
        /* Crece ligeramente */
        opacity: 0.8;
        /* Ligero desvanecimiento */
    }

    100% {
        transform: scale(1);
        /* Regresa al tamaño original */
        opacity: 1;
        /* Totalmente visible */
    }
}