<!-- Bloque3 -->
<div class="bloque_section fondo-1 contenedor_bloque">
  <div class="icono">
    <img src="assets/images/icono-anillos.png" class="icono-img" width="400px" height="400px">
  </div>
  <div class="bloque_body" appFadeInProgressive>
    <div class="bloque_titulo fantasy center">
      <p>{{venue.title}}</p>
    </div>
    <div class="bloque_subtitulo center" appFadeInProgressive>
      <h2>{{venue.name}}</h2>
    </div>
    <div class="bloque_hora center" appFadeInProgressive>
      <h2>a las {{venue.time}} h</h2>
    </div>
    <div class="bloque_boton center">
      <a [href]="venue.mapsUrl" class="btn" target="_blank">
        <span>Ver mapa</span>
        <ion-icon name="map-outline" class="navigate icono-animado"></ion-icon>
      </a>
    </div>
  </div>
</div>
