
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.hidden {
  display: none;
}


/****
MEDIAS QUERYS
*/
@media only screen and (max-device-width: 281px) and (orientation: portrait) {

  .audio {
    top: 290px;
  }

  .bloque_detalle_celebracion {
    height: 1100px;
  }

  .hashtag2 {
    margin-left: 0px;
    font-size: 10px;
  }

  .hashtag {
    font-size: 15px;
  }

  .top35 {
    margin-top: 10px;
  }

}

@media screen and (min-width: 520px) and (orientation: landscape) {

  
  .body {
    //display: none;
  }

  .hidden {
    position: relative;
    display: block;
    justify-content: center;
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-family: 'Kalam', cursive;
    padding-left: 20%;
    padding-right: 20%;
    background-color: floralwhite;
  }

}

